<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Consultorio.Properties.Settings.consultorio_odontologicoConnectionString"
            connectionString="Data Source=desktop-7t95495;Initial Catalog=consultorio_odontologico;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Consultorio.Properties.Settings.consultorio_odontologicoConnectionString1"
            connectionString="Data Source=LAPTOP-E7G93F2V\SQLEXPRESS;Initial Catalog=consultorio_odontologico;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Consultorio.Properties.Settings.consultorio_odontologicoConnectionString2"
            connectionString="Data Source=DESKTOP-TQQ8R9R\SQLEXPRESS;Initial Catalog=consultorio_odontologico;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
